:root {
    --background: #33493D;
    --bright-turquoise: #2aefcb;
    --secondary-color: #a9f9e0;;
    --text2: black;
}

* {
    box-sizing: border-box;
    color: #ffffff;
    background-color: var(--background);
}

main {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

h1 {
    flex-wrap: wrap;
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}

nav {
    flex-wrap: wrap;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

nav ul li a {
    border: 1px solid #ffffff;
    padding: 3px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 5px;
}

nav ul li a:hover {
  box-shadow: inset 0px 0px 8px var(--secondary-color), 0 0 15px var(--secondary-color);
}

p {
    font-size: 20px;
}

figure {
    height: 800px;
    flex: 1 1 100%;
    margin: 0;
    background-image: url("../images/seattle.jpg");
    background-size: cover;
    /* background-position: left; */
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

content {
    width: 100%;
    display: inline-block;
    margin: 5px;
    padding: 5px
}

content ul li {
    font-size: 20px;
}

aside {
    flex: 1 0 15%;
    margin: 5px;
    padding: 5px;
    height: 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border: 5px solid var(--secondary-color);
    border-radius: 20px 0 0 20px ; */
}

h3 {
    text-align: center;
}

h2 {
    margin: 20px;
    font-size: 36px;
}

div content img:hover {
    box-shadow: inset 0px 0px 8px var(--secondary-color), 0 0 15px var(--secondary-color);
  }

/* make main flexbox */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 5px;
    justify-content: center;
    height: 400px;
  }

  /* start with largest screen size for columns */
.info {
    flex: 1 0 70%;
    padding: 5px 5px 5px 5px;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    margin: 5px;
    border: 5px solid var(--secondary-color);
    border-radius: 0 20px 20px 0;
  }

.footer {
    height: 15%;
    width: 100%;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #ffffff;
    padding-bottom: 10px;
}

#first-app {
    width: 100%;
    display: inline-block;
    margin: 5px;
    padding: 5px
}

#first-app img {
    margin: auto;
    display: block;
    height: 600px;
    width: auto;
}

/* using a laptop-first approach, use `min-width` values going from narrow -> wide for a responsive design */
/* on tablets, set columns to only be 50% of the width and not grow */
@media screen and (max-width: 768px) {
    aside,
    .info {
        flex: 0 1 50%;
        max-width: 50%;
        min-width: 285px;
    }

    aside {
        min-width: 175px;
    }

    #first-app img {
        display: block;
        width: 245px;
        height: 245px;
    }
  }
  
  /* media query for larger screens */
  @media screen and (max-width: 414px) {
    aside,
    .info {
        flex: 0 0 100%;
        max-width: 100%;
        min-width: 285px;
    }

    aside {
        height: 30%;
        min-width: 175px;
    }
  }
    